<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
  <add key="All" value="(Aggregate source)" />
  </activePackageSource>
<disabledPackageSources>
 <add key="NuGet" value="true" />
</disabledPackageSources>
  <packageSources>
    <add key="AutodeskNET" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/autodesk-3p-nuget" />
  </packageSources>

</configuration>
