<?xml version="1.0" encoding="utf-8" ?>
<packages>
  <package id="DynamoVisualProgramming.DynamoServices" version="1.0.0" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net4" />
  <package id="DynamoVisualProgramming.Core" version="1.0.0" targetFramework="net45" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="1.0.0" targetFramework="net45" />
</packages>