<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bindingAddress" value="0.0.0.0"/>
    <add key="bindingPort" value="2100"/>
    <add key="MaxTessellationDivisions" value="50"/>
    <add key="MaxRunTime" value="20000"/>
    <add key="tokenValidatorAddress" value="http://10.39.165.198:3000/computeToken"/>
    <add key="NodeValueSerializerPath" value="reach/nodeValueSerializers"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
